pytest
pytest-asyncio
requests
jinja2
jinja2-ansible-filters
packageurl-python
pubtools-pulp
pubtools-exodus
pubtools-content-gateway
pubtools-marketplacesvm
pydantic
aiofiles
types-aiofiles
spdx-tools==0.8.3
python-dateutil==2.9.0.post0
types-python-dateutil==2.9.0.20241206
