apiVersion: rhtap.redhat.com/v1alpha1
kind: Advisory
metadata:
  name: {{ advisory_name }}
spec:
  product_id: {{ advisory.product_id }}
  product_name: {{ advisory.product_name }}
  product_version: {{ advisory.product_version }}
  cpe: {{ advisory.cpe }}
  type: {{ advisory.type }}
{%- if 'issues' in advisory %}
  issues:
    {{ advisory.issues | to_nice_yaml(indent=2) | indent(4) | trim }}
{%- endif %}
  content:
    {{ advisory.content | to_nice_yaml(indent=2) | indent(4) | trim }}
  synopsis: {{ advisory.synopsis }}
  topic: >-
    {{ advisory.topic | wordwrap(76) | indent(4) }}
  description: >-
    {{ advisory.description | wordwrap(76) | indent(4) }}
  solution: >-
    {{ advisory.solution | wordwrap(76) | indent(4) }}
  references:
    {{ advisory.references | to_nice_yaml | indent(4) }}
