apiVersion: rhtap.redhat.com/v1alpha1
kind: Advisory
metadata:
  name: {{ advisory_name }}
spec:
  product_id: {{ releaseNotes.product_id }}
  cpe: {{ releaseNotes.cpe }}
  type: {{ releaseNotes.type }}
{%- if 'issues' in releaseNotes %}
  issues:
    {{ releaseNotes.issues | to_nice_yaml(indent=2) | indent(4) | trim }}
{%- endif %}
  content:
    {{ releaseNotes.content | to_nice_yaml(indent=2) | indent(4) | trim }}
  synopsis: {{ releaseNotes.synopsis }}
  topic: >-
    {{ releaseNotes.topic | wordwrap(76) | indent(4) }}
  description: >-
    {{ releaseNotes.description | wordwrap(76) | indent(4) }}
  solution: >-
    {{ releaseNotes.solution | wordwrap(76) | indent(4) }}
  references:
    {{ releaseNotes.references | to_nice_yaml | indent(4) }}
