---
name: Linters
'on':
  pull_request:
    branches:
      - main
    types:
      - opened
      - reopened
      - synchronize
  merge_group:
    types: [checks_requested]
jobs:
  yamllint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955  # v4
      - name: Run yamllint
        uses: frenck/action-yamllint@34b4bbcaeabedcfefad6adea8c5bbc42af0e2d47  # v1
  gitlint:
    name: Run gitlint checks
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955  # v4
        with:
          fetch-depth: 0
          ref: ${{ github.sha }}
      - name: Install gitlint into container
        run: |
          python3 -m venv venv
          source venv/bin/activate
          python3 -m pip install gitlint
      - name: Run gitlint check
        run: |
          source venv/bin/activate
          RAW_BASE_REF="${{ github.base_ref || github.event.merge_group.base_ref }}"
          BASE_REF="${RAW_BASE_REF#refs/heads/}"
          echo "Base ref: $BASE_REF"
          git fetch origin "$BASE_REF"
          gitlint --commits "origin/$BASE_REF"..HEAD
