---
name: Linters
'on':
  pull_request:
    branches:
      - main
    types:
      - opened
      - reopened
      - synchronize
jobs:
  yamllint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run yamllint
        uses: frenck/action-yamllint@v1
  gitlint:
    name: Run gitlint checks
    runs-on: ubuntu-20.04
    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: '${{ github.event.pull_request.head.sha }}'
      - name: Install gitlint into container
        run: python -m pip install gitlint
      - name: Run gitlint check
        run: >-
          gitlint --commits origin/${{ github.event.pull_request.base.ref
          }}..HEAD
